<% provide(:title,"出勤中社員")%>

<h1>出勤中社員一覧</h1>

<div class="row">
  <table class="table table-bordered table-condensed user-table employees-table">
    <tr>
      <td>社員番号</td>
      <td>名前</td>
    </tr>
    <!--each do ||-->
  <% @users.each do |user| %>
    <% user.attendances.each do |attendance| %>
    <!--もしユーザーの中で出勤があり、退勤がない　　表示-->
      <% if attendance.started_at.present? && attendance.finished_at.nil? %>
        <tr>
          <td><%= user.employees_number %></td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>   
  </table>
</div>